.wrap{
    background-color: sandybrown;
}
.left{
    background-color: darkgray;
    float: left;
    width: 15em;
}
.right div{
    background-color: grey;
    overflow: hidden;
    margin-bottom: 0.2em;
}
.footer{
    background-color: darkgray;
    clear: both;
}
img{
    width: 200px;
    height: 200px;
}