.wrap{
    background-color: lightgray;
    width: 1000px;
}
.left{
    background-color: darkgray;
    float: left;
    width: 15em;
}
.right div{
    background-color: grey;
    margin-bottom: 2em;
}
.footer{
    background-color: darkgray;
    clear: both;
}