.wrap{
	display: flex;
	flex-direction: column;
    background-color: sandybrown;
}
.container{
	display: flex;
	flex-direction: row;
}
.left{
	display: flex;
	flex-direction: column;
    background-color: darkgray;
    align-self: start;
    width: 15em;
	padding: 10px;
}
.right{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.right div{
    background-color: grey;
    margin-bottom: 0.2em;
	padding: 10px;
}

.footer{
    background-color: darkgray;
    clear: both;
	padding: 10px;
}
img{
    width: 200px;
    height: 200px;
}